@charset "UTF-8";

/* point color */
$navy:#474766;
$green:#5BCA78;
$yellowgreen:#F3F9F1;
$blue:#63A1FF;
$purple:#7B64DE;
$orange:#F7A23B;
$red: #F75D5F;

/* gray color */
$black:#000;
$gray-02:#202123;
$gray-03:#333;
$gray-04:#8C9098;
$gray-05:#C1C3C9;
$gray-06:#CbCED6;
$gray-07:#F3EAEA;
$gray-08:#ECEDF1;
$gray-09:#F7F7F8;
$gray-10:#FaFaFa;
$gray-11:#FbFbF8;
$white:#FFF;

$nav-line:#E2E2F0;